@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-tertiary: #999999;
  --color-divider: #eaeaea;

  --font-weight-bold: 600;

  --site-max-width: 48rem;
}

html,
body {
  font-family: var(--font-inter), "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: var(--color-text-primary);
}
