@import "tailwindcss";


@theme {
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: rgba(0, 0, 0, 0.54);
  --color-text-tertiary: rgba(0, 0, 0, 0.38);
  --color-divider: rgba(0, 0, 0, 0.12);
  --color-link: #2b7fff;

  --text-base: 1rem;
  --text-h1: 2rem;
  --text-h1-small: 1.65rem;
  --text-h2: 1.5rem;
  --text-h2-small: 1.4rem;
  --text-h3: 1.25rem;
  --text-h3-small: 1.15rem;


  --spacing-2xs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem;   /* 4px */
  --spacing-sm: 0.5rem;    /* 8px */
  --spacing-md: 1rem;      /* 16px */
  --spacing-lg: 1.5rem;    /* 24px */
  --spacing-xl: 2.5rem;    /* 40px */
  --spacing-2xl: 4rem;     /* 64px */
  --spacing-3xl: 6.5rem;   /* 104px */
  --spacing-4xl: 10.5rem;     /* 168px */



  --site-max-width: 40rem; /* 16px * 40 = 640px */
}

html,
body {
  font-family: var(--font-inter), "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: var(--color-text-primary);
}
